MONGODB_URL=mongodb://app:change-me@mongodb:27017/jackhales?authSource=jackhales
MONGODB_DATABASE=jackhales
SESSION_SECRET=change-me
PUBLIC_SITE_URL=https://jackhales.jackhalestesting.xyz
NEXT_PUBLIC_API_BASE_URL=/api
INTERNAL_API_BASE_URL=https://jackhales.jackhalestesting.xyz/api
BUILD_API_BASE_URL=https://jackhales.jackhalestesting.xyz/api
